// button
.ant-btn:focus, .ant-btn:hover {
  color: #ccc;
}

// dropdown
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
  background-color: #161616 !important;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #262626 !important;
}

// notifications
.ant-notification {
  z-index: 10010 !important;
}

// antd-mobile
// sidebar drawer
.am-list-item {
  background-color: #161616 !important;
  border: 0px !important;
}
.am-list-item:hover{
  background-color: #262626 !important;
}
.am-list-line .am-list-body,
.am-list-line,
.am-list-body {
  border: 0px !important;
}

// header
.bx--header__nav::before {
  display: none;
}

//////////////////////
// antd table
table {
  table-layout: auto;
  table-layout: fixed;
  // width: 100%;
  white-space: nowrap;
}
// table container
.ant-pro-table .ant-card-body {
  padding: 0px !important;
}
.ant-table-content {
  overflow-y: scroll;
}
// table header
.ant-table-sticky-holder {
  top: 48px !important;
}
.ant-table-column-sorter {
  margin-left: 7px;
}
// table header
.ant-table-footer,
.ant-table-thead>tr>th {
  background: #393939;
  font-weight: 600;
}
// column header hover
.ant-table-thead th.ant-table-column-has-sorters:hover {
  background: #262626;
}
// table column header sorted
.ant-table-thead th.ant-table-column-sort {
  background: #262626;
}
// table row hover
.ant-table-tbody>tr.ant-table-row:hover>td,
.ant-transfer-customize-list .ant-table-wrapper .ant-table-small>.ant-table-content>.ant-table-body>table>.ant-table-thead>tr>th,
td.ant-table-column-sort {
  background: #393939;
}
// pagination
.ant-pagination-item-ellipsis {
  color: #fff !important;
}
// hover pagination options
.ant-select-item-option-active:not(.ant-select-item-option-disabled),
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #262626 !important;
}
// center table row content
.ant-table-thead th,
.ant-table-tbody td {
  //text-align: center;
  //vertical-align: middle;
}

/*
// toolbar
.ant-pro-table-list-toolbar-right {
  float: right;
}
// table header
.ant-table-sticky-holder {
  top: 48px !important;
}

// table header: fix stick header glitch
.ant-table-header.ant-table-sticky-holder {
  overflow: visible !important;
}
// set width of all table column header
// TODO: remove this and do it individual
.ant-table-column-sorters {
  //width: 100px;
  min-width: 200px;
}
.ant-table-cell {
  background: #262626;
}
// table row
.ant-table-row {
  background: #262626;
}
// fixed parts of a table row
.ant-table-cell-fix-left, .ant-table-cell-fix-right {
  background: #262626;
}

// TODO: attempt to fix table header width problem
// https://stackoverflow.com/questions/61191372/antd-table-column-width-issue
.ant-table-thead th,
.ant-table-tbody td {
  white-space: nowrap;
  word-break: break-word;
  word-break: break-all;
}
*/
//////////////////////



// idk why we need to import this here ...
@import "./carbon-design-adjustments.less";
