// NOTE: dropdown adjustment
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
  background-color: #161616 !important;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #262626 !important;
}

.ant-notification {
  z-index: 10010 !important;
}
