@import "~antd/lib/style/color/colorPalette.less";
@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/dark.less";

// These are shared variables that can be extracted to their own file
@primary-color: #1062FE;
@border-radius-base: 0px;

@component-background: #000000;
@body-background: #000000;
@popover-background: #000000;
@border-color-base: #000000;
@border-color-split: #000000;
@table-header-sort-active-bg: #000000;
@card-skeleton-bg: #000000;
@skeleton-color: #000000;
@table-header-sort-active-bg: #000000;

.highlight {
  background-color: #000000;
}
