#sidebarLeft .toggle-menu:hover,
#sidebarLeft .menu-item:hover {
  background-color: #262626;
}

#sidebarLeft .menu-item.title:hover {
  background-color: #000;
}


#sidebarLeft .toggle-menu:hover,
#sidebarLeft .shuffle:hover {
  filter: brightness(110%);
}

#sidebarLeft .menu-item.title {
  padding-left: 15px !important;
  /*background-color: #262626;*/
  font-weight: bold;
  cursor: auto;
}
