#sidebarLeft .menu-item:hover {
  background-color: #525252;
}

#sidebarLeft .toggle-menu:hover,
#sidebarLeft .shuffle:hover {
  filter: brightness(110%);
}

#sidebarLeft .menu-item.title {
  padding-left: 15px !important;
  background-color: #525252;
  cursor: auto;
}

#sidebarLeft .menu-item.square-title {
  background-color: #525252;
}
